<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expland-lg navbar-light mb-4" style="background-color: #e3f2fd;">
  <a href="" class="nav-brand">
     {{ title }}
  </a>


    <ul class="navbar-nav d-flex flex-row justify-content-around" style="min-width:10%;">
      <li class="nav-item">
        <a routerLink="/dashboard" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="/heroes" class="nav-link">Heroes</a>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </nav>
<div style="text-align:center">
  <router-outlet></router-outlet>
  <app-messages> </app-messages>
</div>

